.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.Search-container {
  background-color: #222;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Search-header {
  font-size: large;
  padding: 20px;
}

.Search-input {
  min-width: 500px;
}

.Search-option-selected {
  background-color: red;
}

.Search-option-default {
  background-color: grey;
}

.Search-options-table {
  display: table;
}

.Search-options-row {
  width: 100%;
  display: table-row;
}

.Search-options-cell {
  border: 0px;
	display: table-cell;
	padding: 3px 10px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Search-result {
  background-color: black;
  color: white;
}

.Footer {
  background-color: black;
  color: red;
  text-align: left;
  padding: 30px;
}
